:root {
  --font-color: #394C38;
  --primary: #4E6E52;
  --background: #ECE3D0;
  --highlight: #006c67;
}

::-webkit-scrollbar {
  width: 12px;
  overflow-y: overlay;
}
::-webkit-scrollbar-track {
  background: var(--background);
}
::-webkit-scrollbar-thumb {
  background: var(--font-color);
  border-radius: 12px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--primary);
}